@charset "UTF-8";
@improt "normailize";
@font-face {
  font-family: 'TH Chakra Petch';
  src: url("../font/TH Chakra Petch.eot");
  /* IE9 Compat Modes */
  src: url("../font/TH Chakra Petch.eot?#iefix") format("embedded-opentype"), url("../font/TH Chakra Petch.woff") format("woff"), url("../font/TH Chakra Petch.ttf") format("truetype"), url("../font/TH Chakra Petch.svg#face93d9b911af9764273167c93422f0") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'TH Chakra Petch';
  src: url("../font/TH Chakra Petch Bold.eot");
  /* IE9 Compat Modes */
  src: url("../font/TH Chakra Petch Bold.eot?#iefix") format("embedded-opentype"), url("../font/TH Chakra Petch Bold.woff") format("woff"), url("../font/TH Chakra Petch Bold.ttf") format("truetype"), url("../font/TH Chakra Petch Bold.svg#e26160a10d8de42068a5e7111b0de664") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?88832209");
  src: url("../font/fontello.eot?88832209#iefix") format("embedded-opentype"), url("../font/fontello.woff?88832209") format("woff"), url("../font/fontello.ttf?88832209") format("truetype"), url("../font/fontello.svg?88832209#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?88832209#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-list:before {
  content: '\e800'; }

/* '' */
.icon-download:before {
  content: '\e801'; }

/* '' */
.icon-eye:before {
  content: '\e802'; }

/* '' */
.icon-print:before {
  content: '\e803'; }

/* '' */
.icon-eye-1:before {
  content: '\e805'; }

/* '' */
.icon-list-1:before {
  content: '\e807'; }

/* '' */
.icon-list-2:before {
  content: '\e808'; }

/* '' */
.icon-list-3:before {
  content: '\e809'; }

/* '' */
.icon-left-open:before {
  content: '\e80a'; }

/* '' */
.icon-level-up:before {
  content: '\e80b'; }

/* '' */
.icon-trash:before {
  content: '\e80c'; }

/* '' */
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.dark-on-light {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto; }

.light-on-dark, body, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: #2d5d7b;
  text-decoration: none;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out; }
  a [class^="icon-"]:before, a [class*=" icon-"]:before {
    font-size: 1.6em; }

a:hover {
  text-decoration: underline; }

body, html {
  width: 100%;
  height: 100%;
  font-family: Tahoma;
  font-size: 14px;
  line-height: 1.5; }

body {
  width: 986px;
  margin: 0 auto;
  background: url("../img/bg-body.jpg") repeat-x; }

header, main {
  border: solid 1px #22291a;
  border-top: none;
  border-bottom: none;
  box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.75); }

header {
  background-color: #edffd8; }
  header h1 {
    margin: 0;
    display: block;
    float: left;
    background: url("../img/logo-research.png") no-repeat;
    text-indent: -1000em;
    height: 87px;
    width: 387px; }
  header img {
    float: right;
    max-width: 100%; }
  header h2 {
    clear: both;
    margin: 0; }
    header h2 img {
      float: none; }
  header a {
    color: #f2f2f2; }
  header nav {
    text-align: right;
    color: #f2f2f2;
    font-family: "TH Chakra Petch";
    background-color: #181818;
    background: url("../img/bg-nav.png") repeat-x left top;
    height: 37px;
    line-height: 37px;
    font-size: 20px;
    padding: 0 10px; }
    header nav li {
      margin: 0;
      list-style: none;
      display: inline-block;
      font-weight: 700; }
    header nav li:after {
      content: '|';
      margin-left: 5px; }
    header nav li:last-child:after {
      display: none; }
    header nav a {
      font-weight: normal; }

main {
  padding: 20px 15px 100px;
  background: white url("../img/bg-main.jpg") repeat-x left top; }
  main > aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    background-color: #fff7ec;
    padding: 10px; }
    main > aside:last-child {
      margin-right: 0; }
  main > article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    main > article:last-child {
      margin-right: 0; }

nav ul {
  margin: 0;
  padding: 0; }

aside {
  border-radius: 10px;
  border-right: solid 1px #a19c95;
  border-bottom: solid 1px #a19c95;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
  min-height: 220px; }
  aside dl {
    margin: 0; }
  aside dt {
    text-align: center;
    background: #8abcf3 url("../img/bg-dt.png") repeat-x;
    height: 27px;
    line-height: 25px;
    color: #f2f2f2;
    font-weight: bold;
    border-radius: 5px;
    border-right: solid 1px #456586;
    border-bottom: solid 1px #3b5067;
    border-left: solid 1px #8db6de;
    border-top: solid 1px #8aaac4;
    font-family: "TH Chakra Petch";
    font-weight: 700;
    font-size: 20px; }
  aside dd {
    margin: 0;
    padding: 10px 0; }
  aside a {
    color: #2d5d7b;
    font-size: 14px;
    background: url("../img/bullet-nav.png") no-repeat 15px 7px;
    padding-left: 30px; }
  aside ul {
    list-style: none;
    padding: 0;
    margin: 0; }

article div.text {
  background-color: #fff;
  border-radius: 5px;
  min-height: 220px;
  padding: 20px; }
article > div.text:nth-child(2) {
  margin: 0 15px; }
article h3 {
  text-align: center;
  font-family: "TH Chakra Petch";
  font-size: 24px;
  margin-top: 0; }
article section {
  margin-bottom: 40px;
  position: relative; }

footer {
  position: relative;
  top: -70px;
  padding: 0 1px; }
  footer img {
    width: 100%; }

.breadcumb {
  border-bottom: solid 2px #2d5e7b;
  font-family: "TH Chakra Petch";
  color: #734400;
  font-size: 26px;
  margin-top: 0;
  line-height: 1.1; }
  .breadcumb a {
    color: #734400; }
    .breadcumb a:after {
      content: '';
      display: inline-block;
      height: 9px;
      width: 7px;
      background: url("../img/bullet-breadcumb.png") no-repeat;
      position: relative;
      top: -1px;
      margin-left: 8px; }

table {
  width: 100%; }

section.table {
  margin-bottom: 80px; }

section.table:after {
  content: '';
  height: 1px;
  position: absolute;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
  top: auto;
  bottom: 2px;
  left: 6px;
  right: 6px; }

.table table {
  width: 100%;
  border-collapse: collapse;
  color: #0d2a47;
  font-size: 12px;
  position: relative;
  z-index: 2; }
.table th {
  background-color: #9ce9b9;
  font-weight: normal; }
.table th, .table td {
  padding: 3px 5px;
  text-align: center;
  border-right: solid 1px #2f5f7c; }
.table tbody tr td {
  background-color: #eff3fc;
  vertical-align: top; }
.table tbody tr a {
  color: #0d2a47; }
  .table tbody tr a:hover {
    color: #3b79a0; }
.table tr > th:last-child, .table tr > td:last-child {
  border-right: none; }
.table tbody tr:nth-child(2n) td {
  background-color: #fff; }
.table caption {
  height: 23px;
  line-height: 22px;
  border-radius: 5px 5px 0 0;
  color: #0d2a47;
  font-size: 13px;
  text-align: left;
  padding-left: 10px;
  background-repeat: repeat-x;
  border: solid 1px; }
  .table caption:before {
    content: '';
    height: 10px;
    width: 12px;
    display: inline-block;
    background: url("../img/bullet-caption.png") no-repeat;
    margin-right: 5px; }
  .table caption.blue {
    background-image: url("../img/bg-caption-blue.png");
    background-color: #5e8cc4;
    border-top-color: #bcdbf6;
    border-right-color: #486888;
    border-bottom-color: #273a52;
    border-left-color: #90b6df; }
  .table caption.red {
    background-image: url("../img/bg-caption-red.png");
    background-color: #ff4422;
    border-top-color: #ffb8b3;
    border-right-color: #a1392a;
    border-bottom-color: #6b1d0c;
    border-left-color: #ff9a95; }
  .table caption.orange {
    background-image: url("../img/bg-caption-orange.png");
    background-color: #c4965e;
    border-top-color: #f6d7bc;
    border-right-color: #846644;
    border-bottom-color: #523f27;
    border-left-color: #f3c8a3; }
  .table caption.green {
    background-image: url("../img/bg-caption-green.png");
    background-color: #64cd54;
    border-top-color: #c5fcb6;
    border-right-color: #45883a;
    border-bottom-color: #295622;
    border-left-color: #c5fcb6; }

.form {
  background-color: #fff;
  padding: 5px;
  margin-top: -50px;
  border-bottom: solid 1px #eff3fc; }
  .form table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    color: #333; }
  .form tr > td:nth-child(1) {
    width: 150px;
    font-weight: bold;
    background-color: #e7eef2 !important; }
  .form td {
    padding: 5px 10px;
    border-bottom: solid 1px #fff;
    height: 20px;
    background-color: #eff3fc;
    vertical-align: top; }
  .form tr:nth-child(2n) > td {
    background-color: #fff; }

.detail {
  font-size: 12px;
  line-height: 1.5;
  padding: 0 20px; }

table.number tbody > tr {
  counter-increment: row-count; }
table.number tbody tr > td:first-child {
  white-space: nowrap; }
table.number tbody tr > td:first-child:before {
  display: inline-block;
  width: 22px;
  padding-right: 5px;
  content: counter(row-count) ".";
  text-align: right; }

.type1 tbody tr td:nth-child(4), .type1 tbody tr td:nth-child(5) {
  text-align: left; }

.type2 {
  margin-bottom: 30px !important; }
  .type2 tbody tr td:nth-child(2) {
    text-align: left;
    width: 200px; }
  .type2 tbody tr td:nth-child(3) {
    text-align: right;
    width: 140px; }

.type3 tbody tr td:nth-child(1) {
  text-align: left;
  width: 200px; }
.type3 tbody tr td:nth-child(2) {
  width: 120px; }
.type3 tbody tr td:nth-child(3) {
  text-align: left;
  padding: 3px 10px; }

.type4 {
  margin-bottom: 50px; }
  .type4 tbody tr td:nth-child(1) {
    text-align: left;
    padding: 20px 20px;
    background-color: #fff;
    border: solid 1px #ccc;
    border-top: none; }

.tabs {
  position: relative;
  z-index: 2;
  margin-bottom: 0; }
  .tabs:after {
    content: '';
    height: 1px;
    position: absolute;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.65);
    top: auto;
    bottom: 1px;
    left: 8px;
    right: 8px;
    z-index: -1; }
  .tabs .detail {
    margin-bottom: 20px;
    padding: 0 60px; }
    .tabs .detail table {
      margin: 25px 0; }
      .tabs .detail table label {
        width: 80px;
        display: inline-block; }
      .tabs .detail table td {
        vertical-align: top; }
      .tabs .detail table td.right {
        text-align: right; }
    .tabs .detail .process {
      margin: 10px 0 60px; }
      .tabs .detail .process tr > td:nth-child(1) {
        width: 110px;
        padding-right: 20px;
        white-space: nowrap; }
      .tabs .detail .process textarea {
        border: solid 1px #333;
        width: 100%;
        padding: 5px 10px;
        font-family: Tahoma;
        font-size: 13px;
        height: 100px;
        margin-bottom: 20px;
        resize: none; }
      .tabs .detail .process input {
        background-color: #c9c9c9;
        border: solid 1px transparent;
        border-bottom-color: #545454;
        border-right-color: #8c8c8c;
        padding: 0 25px;
        margin-right: 5px; }
    .tabs .detail p label {
      width: 160px;
      display: inline-block; }
  .tabs > div {
    background: #fff;
    border: solid 1px transparent;
    border-right-color: #a1a1a1;
    border-left-color: #d0dad0; }
  .tabs p.right {
    text-align: right;
    font-size: 12px;
    padding: 10px 20px; }
  .tabs dt {
    font-size: 12px;
    color: #2d5d7b;
    background-color: #9ce9b9;
    padding: 8px 25px;
    border-bottom: solid 1px #41624e; }
  .tabs dd {
    margin: 0;
    padding-top: 0; }
  .tabs .table {
    margin: 0 10px; }
  .tabs .ui-tabs-panel {
    position: relative;
    z-index: 2;
    min-height: 100px; }
  .tabs .ui-tabs-nav {
    list-style: none;
    padding: 0;
    margin: 0; }
    .tabs .ui-tabs-nav li {
      display: block;
      float: left; }
      .tabs .ui-tabs-nav li.ui-state-active a {
        background-color: #fff;
        border-color: #d0dad0;
        top: 2px;
        line-height: 29px; }
    .tabs .ui-tabs-nav a {
      display: inline-block;
      padding: 0 13px 0 14px;
      background-color: #ccc;
      font-size: 12px;
      border-radius: 5px 5px 0 0;
      border: solid 1px #9aa69a;
      border-bottom: none;
      position: relative;
      height: 29px;
      top: 7px;
      text-decoration: none; }
  .tabs h4 {
    background-color: #8ac1f0;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 0;
    height: 22px;
    font-weight: normal;
    padding: 0 10px;
    border: solid 1px;
    border-top-color: #b5d8f5;
    border-right-color: #73a0c8;
    border-bottom-color: #6a94b8;
    border-left-color: #bcddf9;
    margin-left: 20px; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, main:before, .tabs .ui-tabs-nav:before,
.clearfix:after,
main:after,
.tabs .ui-tabs-nav:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after, main:after, .tabs .ui-tabs-nav:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix, main, .tabs .ui-tabs-nav {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
