@font-face {
  font-family: 'TH Chakra Petch';
  src: url('../font/TH Chakra Petch.eot'); /* IE9 Compat Modes */
  src: url('../font/TH Chakra Petch.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/TH Chakra Petch.woff') format('woff'), /* Modern Browsers */
       url('../font/TH Chakra Petch.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/TH Chakra Petch.svg#face93d9b911af9764273167c93422f0') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'TH Chakra Petch';
  src: url('../font/TH Chakra Petch Bold.eot'); /* IE9 Compat Modes */
  src: url('../font/TH Chakra Petch Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/TH Chakra Petch Bold.woff') format('woff'), /* Modern Browsers */
       url('../font/TH Chakra Petch Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/TH Chakra Petch Bold.svg#e26160a10d8de42068a5e7111b0de664') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

