@import "bourbon", "neat";
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}


//Usage
.dark-on-light {
    @include font-smoothing(off);
}

.light-on-dark {
    @include font-smoothing(on);
}

$white: #f2f2f2;
$blue: #2d5d7b;
$bgTD: #eff3fc;
$font_th: 'TH Chakra Petch';

a { color: $blue; text-decoration: none; }
a:hover { text-decoration: underline; }

body, html { width: 100%; height: 100%; @extend .light-on-dark; font-family: Tahoma; font-size: 14px; line-height: 1.5;}
body { width: 986px; margin: 0 auto; background: url('../img/bg-body.jpg') repeat-x;  }
header, main { border: solid 1px #22291a; border-top: none; border-bottom: none; box-shadow:0 0 13px 3px rgba(0, 0, 0, .75); }
header { background-color: #edffd8;
  h1 { margin: 0; display: block; float: left; background: url('../img/logo-research.png') no-repeat;text-indent: -1000em; @include size(387px 87px); }
  img { float: right; max-width: 100%; }
  h2 { clear: both; margin: 0;
    img { float: none; }
  }
  a { color: $white; }
  nav { text-align: right; color: $white; font-family: $font_th; background-color: #181818; background:url('../img/bg-nav.png') repeat-x left top;height: 37px; line-height: 37px; font-size: 20px; padding: 0 10px;
    li { margin: 0; list-style: none; display: inline-block; font-weight: 700; }
    li:after { content: '|'; margin-left: 5px; }
    li:last-child:after { display: none; }
    a { font-weight: normal; }
  }
}
main { padding: 20px 15px 100px; @extend .clearfix; background: #fff url('../img/bg-main.jpg') repeat-x left top;
  >aside { @include span-columns(3); background-color: #fff7ec; padding: 10px; }
  >article { @include span-columns(9); }
}

nav {
  ul { margin: 0; padding: 0; }
}
aside { border-radius: 10px;  border-right: solid 1px #a19c95; border-bottom: solid 1px #a19c95; box-shadow: 0 5px 5px rgba(0,0,0,.6); min-height: 220px;
  dl { margin: 0; }
  dt { text-align: center; background: #8abcf3 url('../img/bg-dt.png') repeat-x; height: 27px; line-height: 25px; color: $white;  font-weight: bold; border-radius: 5px; border-right: solid 1px #456586; border-bottom: solid 1px #3b5067; border-left: solid 1px #8db6de; border-top: solid 1px #8aaac4; font-family: $font_th; font-weight: 700; font-size: 20px;  }
  dd { margin: 0; padding: 10px 0; }
  a { color: $blue; font-size: 14px; background: url('../img/bullet-nav.png') no-repeat 15px 7px; padding-left: 30px;  }
  ul { list-style: none; padding: 0; margin: 0; }
}
article {
  div.text { background-color: #fff; border-radius: 5px;  min-height: 220px; padding: 20px; }
  >div.text:nth-child(2) { margin: 0 15px; }
  h3 { text-align: center; font-family: $font_th; font-size: 24px; margin-top: 0; }
  section { margin-bottom: 40px; position: relative; }
}

footer { position: relative; top: -70px; padding: 0 1px;
  img { width: 100%; }
}

.breadcumb { border-bottom: solid 2px #2d5e7b; font-family: $font_th; color: #734400; font-size: 26px; margin-top: 0; line-height: 1.1; 
  a { color: #734400;
    &:after { content:''; display: inline-block; @include size(7px 9px); background: url("../img/bullet-breadcumb.png") no-repeat; position: relative; top: -1px; margin-left: 8px; }
  }
}
section.table { margin-bottom: 80px; }
section.table:after { content:'';  height: 1px; position: absolute; box-shadow: 0 0 5px 3px rgba(0,0,0,.5);top:auto; bottom: 2px; left: 6px; right: 6px;  }
.table { 
  table { width: 100%; border-collapse: collapse; color: #0d2a47; font-size: 12px; position: relative; z-index: 2; }
  th { background-color: #9ce9b9; font-weight: normal; }
  th, td { padding: 3px 5px; text-align: center; border-right: solid 1px #2f5f7c; }
  tbody tr {
    td:nth-child(4), td:nth-child(5) { text-align: left; }
    td { background-color: $bgTD; }
    a { color: #0d2a47; }
  }
  tr>th:last-child, tr>td:last-child { border-right: none; }
  tbody tr:nth-child(2n) td { background-color: #fff; }
  caption { height: 23px; line-height: 22px; border-radius: 5px 5px 0 0; color: #0d2a47; font-size: 13px; text-align: left; padding-left: 10px; 
     background-repeat: repeat-x; border: solid 1px;
    &:before { content:''; @include size(12px 10px); display: inline-block; background: url('../img/bullet-caption.png') no-repeat; margin-right: 5px;  }
    &.blue { background-image: url('../img/bg-caption-blue.png'); background-color: #5e8cc4;
    border-top-color:#bcdbf6; border-right-color:#486888; border-bottom-color: #273a52; border-left-color: #90b6df; }

    &.red { background-image: url('../img/bg-caption-red.png'); background-color: #ff4422;
    border-top-color:#ffb8b3; border-right-color:#a1392a; border-bottom-color: #6b1d0c; border-left-color: #ff9a95; }
  }
}
.form { background-color: #fff; padding: 5px; margin-top: -50px; border-bottom: solid 1px $bgTD;
  table { width: 100%; border-collapse: collapse; font-size: 12px; color: #333; }
  tr>td:nth-child(1) { width: 150px; font-weight: bold; background-color: #e7eef2!important; }
  td { padding: 5px 10px; border-bottom: solid 1px #fff; height: 20px; background-color: $bgTD; vertical-align: top; }
  tr:nth-child(2n) > td { background-color: #fff; }
}