@import "bourbon", "neat";
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}


//Usage
.dark-on-light {
    @include font-smoothing(off);
}

.light-on-dark {
    @include font-smoothing(on);
}

$white: #f2f2f2;
$blue: #2d5d7b;
$brown: #744400;
$bgTD: #eff3fc;
$font_th: 'TH Chakra Petch';

a { color: $blue; text-decoration: none; @include transition(color .25s ease-out);
  [class^="icon-"]:before, [class*=" icon-"]:before { font-size: 1.6em; }
}
a:hover { text-decoration: underline; }

body, html { width: 100%; height: 100%; @extend .light-on-dark; font-family: Tahoma; font-size: 14px; line-height: 1.5;}
body { width: 986px; margin: 0 auto; background: url('../img/bg-body.jpg') repeat-x;  }
header, main { border: solid 1px #22291a; border-top: none; border-bottom: none; box-shadow:0 0 13px 3px rgba(0, 0, 0, .75); }
header { background-color: #edffd8;
  h1 { margin: 0; display: block; float: left; background: url('../img/logo-research.png') no-repeat;text-indent: -1000em; @include size(387px 87px); }
  img { float: right; max-width: 100%; }
  h2 { clear: both; margin: 0;
    img { float: none; }
  }
  a { color: $white; }
  nav { text-align: right; color: $white; font-family: $font_th; background-color: #181818; background:url('../img/bg-nav.png') repeat-x left top;height: 37px; line-height: 37px; font-size: 20px; padding: 0 10px;
    li { margin: 0; list-style: none; display: inline-block; font-weight: 700; }
    li:after { content: '|'; margin-left: 5px; }
    li:last-child:after { display: none; }
    a { font-weight: normal; }
  }
}
main { padding: 20px 15px 100px; @extend .clearfix; background: #fff url('../img/bg-main.jpg') repeat-x left top;
  >aside { @include span-columns(3); background-color: #fff7ec; padding: 10px; }
  >article { @include span-columns(9); }
}

nav {
  ul { margin: 0; padding: 0; }
}
aside { border-radius: 10px;  border-right: solid 1px #a19c95; border-bottom: solid 1px #a19c95; box-shadow: 0 5px 5px rgba(0,0,0,.6); min-height: 220px;
  dl { margin: 0; }
  dt { text-align: center; background: #8abcf3 url('../img/bg-dt.png') repeat-x; height: 27px; line-height: 25px; color: $white;  font-weight: bold; border-radius: 5px; border-right: solid 1px #456586; border-bottom: solid 1px #3b5067; border-left: solid 1px #8db6de; border-top: solid 1px #8aaac4; font-family: $font_th; font-weight: 700; font-size: 20px;  }
  dd { margin: 0; padding: 10px 0; }
  a { color: $blue; font-size: 14px; background: url('../img/bullet-nav.png') no-repeat 15px 7px; padding-left: 30px;  }
  ul { list-style: none; padding: 0; margin: 0; }
}
article {
  div.text { background-color: #fff; border-radius: 5px;  min-height: 220px; padding: 20px;
    p.right { text-align: right; }
  }
  >div.text:nth-child(2) { margin: 0 15px; }
  h2 { text-align: center; font-family: $font_th; font-size: 30px; margin-top: 0; color: $brown; margin-bottom: 0; }
  h3 { text-align: center; font-family: $font_th; font-size: 24px; margin-top: 0; }
  section { margin-bottom: 40px; position: relative; }
}

footer { position: relative; top: -70px; padding: 0 1px;
  img { width: 100%; }
}

.breadcumb { border-bottom: solid 2px #2d5e7b; font-family: $font_th; color: #734400; font-size: 26px; margin-top: 0; line-height: 1.1; text-align: left; margin-bottom: 30px;
  a { color: #734400;
    &:after { content:''; display: inline-block; @include size(7px 9px); background: url("../img/bullet-breadcumb.png") no-repeat; position: relative; top: -1px; margin-left: 8px; }
  }
}
table { width: 100%; }
section.table { margin-bottom: 80px; }
section.table:after { content:'';  height: 1px; position: absolute; box-shadow: 0 0 5px 3px rgba(0,0,0,.5);top:auto; bottom: 2px; left: 6px; right: 6px;  }
.table {
  table { width: 100%; border-collapse: collapse; color: #0d2a47; font-size: 12px; position: relative; z-index: 2; }
  th { background-color: #9ce9b9; font-weight: normal; white-space: nowrap; }
  th, td { padding: 3px 5px; text-align: center; border-right: solid 1px #2f5f7c; }
  tbody tr {
    td { background-color: $bgTD; vertical-align: top; }
    a { color: #0d2a47;
      &:hover { color: lighten($blue, 10%);}
    }
  }
  tr>th:last-child, tr>td:last-child { border-right: none; }
  tbody tr:nth-child(2n) td { background-color: #fff; }

  caption { height: 26px; line-height: 22px; border-radius: 5px 5px 0 0; color: #0d2a47; font-size: 13px; text-align: left; padding-left: 10px;
     background-repeat: repeat-x; border: solid 1px;
    &:before { content:''; @include size(12px 10px); display: inline-block; background: url('../img/bullet-caption.png') no-repeat; margin-right: 5px;  }
    &.blue { background-image: url('../img/bg-caption-blue.png'); background-color: #5e8cc4;
    border-top-color:#bcdbf6; border-right-color:#486888; border-bottom-color: #273a52; border-left-color: #90b6df; }

    &.red { background-image: url('../img/bg-caption-red.png'); background-color: #ff4422;
    border-top-color:#ffb8b3; border-right-color:#a1392a; border-bottom-color: #6b1d0c; border-left-color: #ff9a95; }

    &.orange { background-image: url('../img/bg-caption-orange.png'); background-color: #c4965e;
    border-top-color:#f6d7bc; border-right-color:#846644; border-bottom-color: #523f27; border-left-color: #f3c8a3; }

    &.green { background-image: url('../img/bg-caption-green.png'); background-color: #64cd54;
    border-top-color:#c5fcb6; border-right-color:#45883a; border-bottom-color: #295622; border-left-color: #c5fcb6; }
  }
}

.form { background-color: #fff; padding: 5px; margin-top: -50px; border-bottom: solid 1px $bgTD;
  table { width: 100%; border-collapse: collapse; font-size: 12px; color: #333; }
  tr>td:nth-child(1) { width: 150px; font-weight: bold; background-color: #e7eef2!important; }
  td { padding: 5px 10px; border-bottom: solid 1px #fff; height: 20px; background-color: $bgTD; vertical-align: top; }
  tr:nth-child(2n) > td { background-color: #fff; }
}
.detail { font-size: 12px; line-height: 1.5; padding: 0 20px; }
table.number {
  tbody {
    >tr { counter-increment: row-count; }
    tr>td:first-child { white-space: nowrap;  }
    tr>td:first-child:before { display: inline-block; width: 22px; padding-right: 5px; content:counter(row-count)'.'; text-align: right;}
  }
}

.type1 {
  tbody tr {
    td:nth-child(4), td:nth-child(5) { text-align: left; }
  }
}
.type2 { margin-bottom: 30px!important;
  tbody tr {
    td:nth-child(2) { text-align: left; width: 200px; }
    td:nth-child(3) { text-align: right; width: 140px;}
  }
}
.type3 {
  tbody tr {
    td:nth-child(1) { text-align: left; width: 200px; }
    td:nth-child(2) { width: 120px;}
    td:nth-child(3) { text-align: left; padding: 3px 10px;}
  }
}
.type4 { margin-bottom: 50px;
  tbody tr {
    td:nth-child(1) { text-align: left; padding: 20px 20px; background-color: #fff; border: solid 1px #ccc; border-top: none;  }
  }
}
.type5 { margin-bottom: 50px;
  tbody tr {
    td { vertical-align: middle; }
    td:nth-child(1), td:nth-child(2) { text-align: left; width: 35%; }
    td:nth-child(3), td:nth-child(4) { }
    td:last-child { white-space: nowrap; text-align: right; }
  }
  a { font-size: 1.4em; margin-right: 5px; padding: 0 5px; }
}
.type6 {
  tbody tr {
    td:nth-child(1) { width: 50px; }
    td:nth-child(2) { text-align: left; width: 320px; }
    a { padding: 0 5px; font-size: 1.3em; }
  }
}
.type7 {
  tbody tr {
    td:nth-child(2) { text-align: left; width: 240px; }
    a { padding: 0 5px; font-size: 1.3em; }
  }
}

.type8 { margin-bottom: 20px;
  tbody tr {
    td:nth-child(1) { text-align: left; padding: 20px 20px; background-color: #fff; border: solid 1px #ccc; border-top: none;  }
  }
}

.type9 { margin-bottom: 30px;
  a { padding: 0 5px; font-size: 1.3em; }

  tr {
    td:nth-child(2) { text-align: left; white-space: nowrap;  }
    td:nth-child(3) { text-align: right; }
    td:nth-child(4) { text-align: left; }
    td:last-child { white-space: nowrap; vertical-align: middle; }
  }
}
/* Form Control */
.form_control {
  p { line-height: 24px; font-size: 12px;  @extend .clearfix;
    label:first-child { text-align: right; @include span-columns(3); white-space: nowrap; vertical-align: top;
      &:after { content:':'; display: inline-block; margin: 0 5px; }
    }
    input[type="radio"], input[type="checkbox"] {
      ~label { width: auto; white-space: nowrap; margin-right: 20px;
        &:after { display: none; }
      }
    }
    input[type="text"], input[type="date"], input[type="phone"], input[type="number"] { border: solid 1px #ccc; height: 24px; padding: 0 5px; @include span-columns(5); font-size: 13px;}
    textarea { padding: 5px 10px; border: solid 1px #ccc; font-family: tahoma; @include span-columns(5); height: 100px; resize: none; font-size: 13px; }
    select { @include span-columns(5); }
  }
}



/* End of From Control */

.tabs { position: relative; z-index: 2; margin-bottom: 0;
  &:after { content:'';  height: 1px; position: absolute; box-shadow: 0 0 5px 5px rgba(0,0,0,.65);top:auto; bottom: 1px; left: 8px; right: 8px; z-index: -1; }
  .detail { margin-bottom: 20px; padding: 0 60px;
    table { margin: 25px 0;
      label { width: 80px; display: inline-block; }
      td { vertical-align: top; }
      td.right { text-align: right; }
    }
    .process { margin: 10px 0 60px;
      tr {
        >td:nth-child(1) { width: 110px; padding-right: 20px; white-space: nowrap; }
      }
      textarea { border: solid 1px #333; width: 100%; padding: 5px 10px; font-family: Tahoma; font-size: 13px; height: 100px; margin-bottom: 20px; resize: none; }
      input { background-color: #c9c9c9; border: solid 1px transparent; border-bottom-color: #545454; border-right-color: #8c8c8c; padding: 0 25px; margin-right: 5px; }
    }
    p label { width: 160px; display:inline-block; }
  }
  >div { background: #fff; border: solid 1px transparent; border-right-color: #a1a1a1; border-left-color: #d0dad0; }
  p.right { text-align: right; font-size: 12px; padding: 10px 20px; }

  dt { font-size: 12px; color: $blue; background-color: #9ce9b9; padding: 8px 25px; border-bottom: solid 1px #41624e; }
  dd { margin: 0; padding-top: 0; }
  .table { margin: 0 10px; }

  .ui-tabs-panel { position: relative; z-index: 2; min-height: 100px; }
  .ui-tabs-nav { list-style: none; padding: 0; margin: 0; @extend .clearfix;
    li { display:block; float: left;
      &.ui-state-active a { background-color: #fff; border-color: #d0dad0; top: 2px; line-height: 29px;  }
    }
    a {  display: inline-block; padding: 0 13px 0 14px; background-color: #ccc; font-size: 12px; border-radius: 5px 5px 0 0; border: solid 1px #9aa69a; border-bottom: none; position: relative; height: 29px; top: 7px; text-decoration: none;  }
  }
  h4 { background-color: #8ac1f0; display: inline-block; font-size: 12px; margin-bottom: 0; height: 22px; font-weight: normal; padding: 0 10px; border: solid 1px; border-top-color: #b5d8f5; border-right-color: #73a0c8; border-bottom-color: #6a94b8; border-left-color: #bcddf9; margin-left: 20px;}
}
p.indent { text-indent: 30px; }
input.button, button { background-color: #c9c9c9; border: solid 1px transparent; border-bottom-color: #545454; border-right-color: #8c8c8c; padding: 0 20px; margin-left: 10px; cursor: pointer; font-size: 12px; height: 23px; }
// icon color
a {
  .fa-trash-o { color: #c0392b;}
  .fa-pencil { color: #7f8c8d; }
}
a.button { font-size: 13px; background-color: #2ecc71; padding: 0 10px; line-height: 28px; height: 32px; display: inline-block; border-radius: 3px; border: solid 1px transparent; border-bottom-color: #3b6741; border-right-color: #3c7942; @include transition(all .25s ease-out);
  i { font-size: 1.5em; position: relative; top: 2px; margin-right: 5px; color: #fff; text-shadow: 1px 1px 0 rgba(0, 0, 0, .35);}
  &:hover { text-decoration: none; background-color: #27ae60; color: #fff;
    i { top: 3px; }
  }
}

// Login Page
#login { margin-bottom: 50px;
  section { width: 340px;  margin: 0 auto; position: relative;}
  div { background-color: #fff7ec; z-index: 3;  padding: 20px 40px; position: relative; border-radius: 5px; border: solid 1px transparent; border-right-color: #a19c95; border-bottom-color: #6b6863;}
  section:after { content:'';  height: 1px; position: absolute; box-shadow: 0 0 5px 3px rgba(0,0,0,.5);top:auto; bottom: 2px; left: 6px; right: 6px; z-index: 1; }
  h2 {  text-align: center;font-family: $font_th; color: $brown; margin: 0; font-size: 26px; }
  label { font-size: 12px; display: inline-block; width: 70px; margin-right: 15px; background: url('../img/bullet-breadcumb.png') right center no-repeat; }
  p:nth-child(2), p:nth-child(3) {
    input { border: solid 1px #333; }
  }
  p:nth-child(4) { text-align: center; margin-top: 30px; }
}
#login:after { z-index: -1; }

p.center { text-align: center; }

.register {
  section section {
    h3 { font-size: 14px; font-family: tahoma; color: $blue; background-color: #9ce9b9; padding: 8px 25px; border-bottom: solid 1px #41624e; font-weight: normal; text-align: left; }
    p { text-align: left; padding: 0;
      label {float:left; }
      label:first-child { @include span-columns(2.5);}
      label:nth-child(3) { @include span-columns(2); }
      input { border: solid 1px #ccc; height: 24px; padding: 0 5px; }
      input, select { @include span-columns(3.5); }
    }
    #birthdate, #monthdate, #yeardate { width: auto; margin-right: 10px; }
    #floor { @include span-columns(1);  }
    #specific { @include span-columns(2); }
    #publish1 { @include span-columns(7.6); }
    #publish4, #publish7 { @include span-columns(9); }
  }
  label.auto { width: auto!important; }
  #male, #female, #goverment, #private, #agree { position: relative; width: auto; margin-right: 10px;
    ~ label { text-align: left; width: 50px; line-height: 24px;
      &:after { display: none; }
    }
  }
  p { padding: 0 30px; @extend .clearfix; text-align: right;
    label { font-size: 12px; display: inline-block; text-align: right; white-space: nowrap; line-height: 22px;
      &:after { content:':'; margin: 0 5px; }
      em { font-size: 10px; font-style: normal; }
    }
  }
  #publish_list {
    th { font-size: 11px; }
    a { padding: 0 3px; }
  }
  div.text {
    h3 {text-align: center; font-family: $font_th; font-size: 24px; margin-top: 0; background: transparent; border: none; color: #333; font-weight: bold;}
    input { width: auto; }
    p { text-align: left; }
  }
}
.send_agreement { padding: 10px;
  section {
    h3 { font-size: 13px; font-family: tahoma; color: $blue; background-color: #9ce9b9; padding: 8px 25px; border-bottom: solid 1px #41624e; font-weight: normal; text-align: left; }
    p { padding: 0 0 0 25px; font-size: 13px; @extend .clearfix; text-align: left;
      label {float:left; font-size: 12px; text-align: right; white-space: nowrap; line-height: 24px;
        &:after { content: ':'; margin: 0 5px; }
      }
      label:first-child { @include span-columns(3);}
      label:nth-child(3) { @include span-columns(2); }
      input, textarea { border: solid 1px #ccc; height: 24px; padding: 0 5px; }
      textarea { padding: 5px 10px; height: 100px; @include span-columns(8); resize: none;}
      input, select { @include span-columns(2); }
    }
    ul { list-style: none; margin: 0; padding: 0 25px;
      li { @extend .clearfix; margin-bottom: 10px; }
      input { border: solid 1px #ccc; height: 24px; padding: 0 5px;  @include span-columns(1); }
      label { font-size: 13px;text-align: right;
        &:after { content: ':'; margin: 0 5px; }
      }
      label:first-child { @include span-columns(4);}
    }
  }
  p { text-align: right; padding-right: 55px; }
  .table { margin-bottom: 30px; }
  #project_th, #project_en, #project_process { @include span-columns(6); }

  #project_new, #project_normal, #project_ongoing { width: auto;
    ~ label { text-align: left; width: 125px;
      &:after { display:none; }
    }
  }
  #project_ongoing  { clear: left; margin-left: 26.5%; }
  h3.orange { background-color: #ffcd8c; }
  p.right { text-align: right;
    input { float: none; display: inline-block; }
  }
}
#tab2.send_agreement {
  #search_responsible { @include span-columns(5); float: none; display: inline-block; }
  section p {
    input, select { @include span-columns(3); }
  }
}
#tab3.send_agreement {
  section.checkbox, section.radio {
    p {
      input:first-child { width: auto; }
      input { @include span-columns(1); }
      label:nth-child(2) { @include span-columns(8); text-align: left; white-space: normal;
        &:after { display: none; }
      }
    }
  }
  section.checkbox.textarea {
    label:nth-child(2)  {@include span-columns(3); }
    textarea { @include span-columns(8); }
  }
  section.radio {
    p {
      label { @include span-columns(3); float: none; display: inline-block;
        &:after { display: none; }
      }
      label:nth-child(2)  { @include span-columns(2);}
      label:nth-child(3) { clear: left; }
      input { display: inline-block; float: none; margin-right: 0; width: 35px; margin-bottom: 5px; }
      input:first-child { float: left; margin-right: 2.35765%; }
      label.shift { margin-left: 17%; }
    }
  }
  section.radio.line { 
      input { width: auto; margin-bottom: 0; float: left; margin-right: 2.35765%;
        ~label { text-align: left; float: left; line-height: 28px; } 
      }
  }
}